@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --branco: #ff0101;
    --cor-de-fundo: #00ff40;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--branco);
}
